.additional {
  padding: 40px 0 60px;

  @include vp-767 {
    padding: 10px 0 20px;
  }
}

.additional__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 150px;
  column-gap: 20px;
  margin-bottom: 0;

  @include vp-1535 {
    padding: 0 30px;
  }

  @include vp-1339 {
    display: flex;
    flex-direction: column;
  }
}

.additional__header {
  @include vp-767 {
    font-size: 26px;
    padding: 0;
  }
}