// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-640: 640px;
$vp-960: 960px;
$vp-1280: 1280px;

$vp-768: 768px;
$vp-1020: 1020px;
$vp-1340: 1340px;
$vp-1920: 1920px;
$vp-1820: 1820px;
$vp-1536: 1536px;
$vp-1340: 1340px;
$vp-1140: 1140px;
$vp-1140: 1140px;

$tablet-width: 1920px;
$desktop-width: 1280px;
$mobile-width: 959px;
$xs-width: 639px;